<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Creative - Start Bootstrap Theme</title>


    <!-- Jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FitText.js/1.2.0/jquery.fittext.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>

    <!-- Bootstrap Core CSS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"  crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" >

    <!-- Custom Theme JavaScript -->
    <script src="../public/jsp/creative.js"></script>



    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" >

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.4.0/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../public/css/creative.css" type="text/css" >

    <!-- HTML5 Shim and Respond.jsp IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.jsp doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Dengue Analytics</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#details">Details</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#strains">Strains</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#markers">Markers</a>
                    </li>

                    <li>
                        <a class="page-scroll" href="#classification">Classification</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#analytics">Analytics</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Fever? Dengue..?</h1>
                <hr>
                <p>Dengue is a mosquito-borne viral disease that has rapidly spread in all regions of WHO in recent years. Dengue virus is transmitted by female mosquitoes mainly of the species Aedes aegypti and, to a lesser extent, A. albopictus. The disease is widespread throughout the tropics, with local variations in risk influenced by rainfall, temperature and unplanned rapid urbanization.Severe dengue (also known as Dengue Haemorrhagic Fever) was first recognized in the 1950s during dengue epidemics in the Philippines and Thailand. Today, severe dengue affects most Asian and Latin American countries and has become a leading cause of hospitalization and death among children in these regions.!</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Check Status</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="details">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Confused?</h2>
                    <hr class="light">
                    <p class="text-faded">We provide you a refined information with trends based on Age and Gender, helping you relate and analyze the Stage/Level of infection</p>

                    <a href="#" class="btn btn-default btn-xl">Get Started!</a>


                </div>
            </div>
        </div>
    </section>

    <section id="strains">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Dengue is caused by Dengue virus (DENV), a mosquito-borne flavivirus. DENV is an single stranded RNA positive-strand virus of the family Flaviviridae, genus Flavivirus. This genus includes also the West Nile virus, Tick-borne Encephalitis Virus, Yellow Fever Virus, and several other viruses which may cause encephalitis. DENV causes a wide range of diseases in humans, from a self limited Dengue Fever (DF) to a life-threatening syndrome called Dengue Hemorrhagic Fever (DHF) or Dengue Shock Syndrome (DSS).</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>DENV-1</h3>
                        <p class="text-muted">STRAIN 1 INFO.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".5s"></i>
                        <h3>DENV-2</h3>
                        <p class="text-muted">STRAIN 2 INFO</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".7s"></i>
                        <h3>DENV-3</h3>
                        <p class="text-muted">STRAIN 3 INFO</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".9s"></i>
                        <h3>DENV-4</h3>
                        <p class="text-muted">STRAIN 4 INFO</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="no-padding" id="markers">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6 col-md-4">
                    <a href="#" class="portfolio-box">
                        <img src="../public/images/portfolio/marker.jpg" class="img-responsive" alt="" />
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    MARKERS
                                </div>
                                <div class="project-name">
                                    -------
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-4">
                    <a href="#" class="portfolio-box">
                        <img src="../public/images/portfolio/determinant.jpg" class="img-responsive" alt="" />
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    DETERMINANTS
                                </div>
                                <div class="project-name">
                                    ------
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-4">
                    <a href="#" class="portfolio-box">
                        <img src="../public/images/portfolio/contradiction.jpg" class="img-responsive" alt="" />
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    CONTRADICTIONS
                                </div>
                                <div class="project-name">
                                    ------
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-4">
                    <a href="#" class="portfolio-box">
                        <img src="../public/images/portfolio/warning-triangle.png" class="img-responsive" alt="" />
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    WARNINGS
                                </div>
                                <div class="project-name">
                                    ------
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-4">
                    <a href="#" class="portfolio-box">
                        <img src="../public/images/portfolio/5.jpg" class="img-responsive" alt="" />
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    SPECIAL CASES
                                </div>
                                <div class="project-name">
                                    ------
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-4">
                    <a href="#" class="portfolio-box">
                        <img src="../public/images/portfolio/drugs.jpg" class="img-responsive" alt="" />
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    DRUGS
                                </div>
                                <div class="project-name">
                                    ------
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>Check the Regions prone to the Disease..</h2>
                <a href="#" class="btn btn-default btn-xl wow tada">View Distribution</a>
            </div>
        </div>
    </aside>

    <section id="classification">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">The Intensity of Dengue can be classified as given below...</h2>
                    <hr class="primary">
                    <p>PLACEHOLDER FOR THE CLASSIFICATION DETAILS..</p>
                </div>
            </div>
        </div>
    </section>
    <section id="analytics">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">THIS SECTION IS FOR THE TRENDS AND CHARTS</h2>
                    <hr class="primary">
                    <p>SHOULD BE COMBINED WITH C3</p>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->






</body>

</html>
