<!DOCTYPE html>
<html lang="en">
<head><% include partials/page/head.ejs %></head>

<body>
<br>
<div class="container">
    <form action="/login" method="get">
    <label>table</label>

    <input type="text" name="email">

    <button type="submit">Login</button>
    </form>

</div>
<% include partials/page/footer.ejs %>

</body>

</html>




