<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Prevention</title>

    <!-- Bootstrap Core CSS -->
    <link href="../public/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/heroic-features.css" rel="stylesheet">


    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body background="./polygon-background-1 (1).jpg">



<!-- Page Content -->
<div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron hero-spacer">
        <h1>Prevention</h1>
        <p>If someone in your home gets dengue fever, be especially vigilant about efforts to protect yourself and other family members from mosquitoes. Mosquitoes that bite the infected family member could spread the infection to others in your home</p>
        <p><a class="btn btn-primary btn-large">Check Details</a>
        </p>
    </header>

    <hr>

    <!-- Title -->
    <div class="row">
        <div class="col-lg-12">
            <h3>Preventive Measures</h3>
        </div>
    </div>
    <!-- /.row -->

    <!-- Page Features -->
    <div class="row text-center">

        <div class="col-md-6 col-sm-6 hero-feature">
            <div class="thumbnail">
                <!--<img src="http://placehold.it/800x500" alt="">-->
                <div class="caption">
                    <h3>Personal Scale</h3>
                    <p>Stay away from heavily populated residential areas, if possible.
                        Use mosquito repellents, even indoors.
                        When outdoors, wear long-sleeved shirts and long pants tucked into socks.
                    </p>
                    <p>
                        <a href="#" class="btn btn-primary">Check Stats</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-6 hero-feature">
            <div class="thumbnail">
                <!--<img src="http://placehold.it/800x500" alt="">-->
                <div class="caption">
                    <h3>Indoors</h3>
                    <p>When indoors, use air conditioning if available. Make sure window and door screens are secure and free of holes. If sleeping areas are not screened or air conditioned, use mosquito nets.
                        If you have symptoms of dengue, speak to your doctor. To reduce the mosquito population, get rid of places where mosquitoes can breed. These include old tires, cans, or flower pots that collect rain. Regularly change the water in outdoor bird baths and pets' water dishes.
                    </p>
                    <p>
                        <a href="#" class="btn btn-primary">Check Regional Statistics</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>LiveHealth</p>
            </div>
        </div>
    </footer>

</div>
<!-- /.container -->

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

</body>

</html>
